<div class="container">

  <div class="row" ng-show="data.length == 0">
    <center><p class="lead">We're sorry but there's no cool spot to drink today.</p></center>
  </div>
  <div class="row listRow" ng-repeat="post in data">

    <div class="col-md-3">
      <img src="{{ post.picture_link }}" />
    </div>

    <div class="col-md-9">

      <div class="row">
        <img src="{{ post.profile_picture }}" class="logoImage" style="" />
        <p class="lead" style="text-align:justify;">{{ post.text }}</p>
      </div>

    </div>

  </div>

</div>
